.placeholder-grey-darkest::placeholder {
  @apply .text-grey-darker .opacity-100;
}

.placeholder-grey-darkest:focus::placeholder {
  @apply .text-grey-darkest .opacity-100;
}

// Algolia

.algolia-autocomplete {
    @apply .w-full .block;
}

.aa-dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(228, 228, 228, 0.6);
    min-width: 300px;
    margin-top: 10px;
    box-sizing: border-box;
}
.aa-suggestion {
    padding: 12px;
    cursor: pointer;

    + .aa-suggestion {
        border-top: 1px solid rgba(228, 228, 228, 0.6);
    }
}
.aa-suggestion:hover,
.aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35);
}
