code {
    @apply .inline-block .bg-grey-lighter .text-xs .py-1 .px-2 .leading-none .font-mono;
}
pre {
    @apply .overflow-auto .break-normal .bg-white .border .border-grey-light .rounded .p-4 .mb-4;

    code {
        @apply .leading-normal .bg-white .text-grey-darker;
    }
}

kbd {
    @apply .inline-block .font-mono .bg-grey-lighter .border .border-grey .text-grey-dark .text-xxs;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(135,149,161,0.4), 0 0 0 2px #fff inset;
    line-height: 1.4;
    margin: 0 .1em;
    padding: .15em .6em;
    text-shadow: 0 1px 0 #fff;
}

.code-block {
  @apply .relative;

  .copy-to-clipboard {
    @apply .hidden .absolute .pin-t .pin-r .z-10 .text-xxs .py-2 .px-3 .mr-2 .mt-2 .bg-grey-darkest .rounded .text-white .opacity-50 .outline-0;

    &:hover {
      @apply .bg-black .opacity-100;
    }
  }

  &:hover .copy-to-clipboard {
    display: block;
  }
}
