.dropdown:hover ul {
    visibility: visible;
    opacity: 1;
}

.toggle,
.tab-panel,
.filetree ul ul {
  &[aria-expanded="false"] {
    display: none;
  }
}

.sidebar-navigation {

    .wrapper {
        height: calc(100vh - 5rem);
    }

    .toggle-trigger {

        &.active::after {
            content: "\2014";
        }

        &::after {
            @apply .ml-3 .font-bold;
            content: "+";
            font-family: initial;
            position: relative;
        }
    }
}

@media screen and (max-width: 767px) {
    .page-nav[aria-expanded="false"] {
        transform: translateX( calc(100% + 1rem) );
    }

    .mobile-menu-opened {
        transform: translateX(-75%);
    }
}

// TABS

ul.tabs {
  @apply .list-reset .flex .border-b .border-grey-lighter .mb-0;

  li {
    @apply .my-0;

    a {
      @apply .bg-grey-lighter .inline-block .border-solid .rounded-t-sm .py-2 .px-8 .text-grey-dark;

      &:hover {
        @apply .text-grey-darker;
      }

      &.tab-active {
        @apply .ml-0 .bg-white .border-l .border-t .border-r .border-grey-lighter .-mb-px .cursor-default .text-grey-darker;
      }
    }
  }
}

.tab-panel {
  @apply .border .border-t-0 .border-grey-lighter .rounded-sm .rounded-tl-none .rounded-tr-none .p-4;
}

// File Tree
.filetree {
  @apply .py-2;

  li {
    @apply .flex .flex-wrap .items-center .py-2 .px-4 .my-0 .cursor-default;

    &::before {
      content: "";
      background-image: url('/img/icons/folder.svg');
      @apply .mr-2 .w-6 .h-6 .bg-no-repeat .bg-contain;
    }

    &.toggle-parent-active::before {
      content: "";
      background-image: url('/img/icons/folder-open.svg');
      // @apply .absolute .-ml-8 .-mt-2 .w-6 .h-6 .bg-no-repeat .bg-contain;
    }

    li {
      @apply .py-1;
    }

    sup {
      @apply .px-1;
    }
  }

  a {
    @apply .relative .w-auto;
  }

  ul {
    @apply .list-reset .w-full;

    ul {
      @apply .pl-4;
    }
  }
}
