.dropdown:hover ul {
    visibility: visible;
    opacity: 1;
}

[aria-expanded="false"] {
  display: none;
}

.sidebar-navigation {

    .wrapper {
        height: calc(100vh - 5rem);
    }

    .toggle-trigger {

        &.active::after {
            content: "\2014";
        }

        &::after {
            @apply .ml-3 .font-bold;
            content: "+";
            font-family: initial;
            position: relative;
        }
    }
}
