@tailwind preflight;

::selection {
    background: #333;
    color: #fff;
}

a {
    text-decoration: none;
}

.bg-gradient-light-ocean {
    background-image: linear-gradient(-75deg, #4398ee 0%, #5f54f1 100%);
}

.bg-gradient-green {
    background-image: linear-gradient(-75deg, #51d88a 0%, #1f9d55 100%);
}

.bg-gradient-purple {
    background-image: linear-gradient(-75deg, #A044FF 0%, #6A3093 100%);
}

.dropdown:hover ul {
    visibility: visible;
    opacity: 1;
}

.transition-all {
    transition: all 0.3s ease-in-out 0s;
}

@tailwind utilities;
